<p id="notice"></p>
 <div class="container px-5 px-sm-0">
  <div class="row">
   <h3>商品新規登録</h3>
  </div>
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <%= form_with model: @item, url: admin_items_path do |f| %> 
    <table>
        <tr>
          <th style="padding-right: 2em">商品画像</th>
          <td><%= f.file_field :image, accept: "image/*", class: "w-100" %></td>
         </tr>
         <tr>
          <th>商品名</th>
          <td><%= f.text_field :name %></td>
         </tr>
         <tr>
          <th>商品説明</th>
          <td><%= f.text_area :introduction %></td>
         </tr>
         <tr>
          <th>税抜価格</th>
          <td><%= f.number_field :price %>円</td>
         </tr>
        </tr>
       </table><br>
       <div class="row">
        <div class="col-8">
         <div class="section1 text-center">
         <%= f.submit "新規登録", class: "btn btn-success btn-default btn-sm" %>
         </div>
        </div>
       </div>
      <% end %>
   </div>
 </div>